#nav-mobile{
	display: none;
}

.profile-img{
	width: 57px;
	height: auto;
}

a.nav-text{
	font-size: 1.1em !important;
}

a.navbar-brand.page-scroll{
	padding-top: 0.1em !important;
	font-size: 2em !important;
}

/*global background-color*/
.bg-white {
    color: #eee;
    background-color: #FFFFFF;
}

/*customize the tabs for "Projects" section*/
.nav-tabs>li>a{
	font-size: 1.5em;
}

.my-button{
	background-color: #025aa5 !important;
	border: none !important;
	padding-bottom: 20px !important;
}

/*custom navbar height*/
div.navbar-header{
	height:60px;
}

/*adjust section padding*/
section#three{
/*	padding-top: 3em !important;*/
	padding-bottom: 2em !important;
}

@media only screen and (max-width: 979px) {
	.navbar-default{
		background-color: #222 !important;
	}
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#nav-desktop{
		display: none;
	}

	#nav-mobile{
		display: block;
	}

	a.navbar-brand.page-scroll{
		padding-top: 0.1em !important;
		font-size: 1.5em !important;
	}

	a.page-scroll{
		font-size: 1em !important;
	}

	#toggle-video,#video-background{
		display: none;
	}

	.nav-tabs>li>a{
		font-size: 1.2em;
	}
}
