/*overwrite part of header defination in template-styles*/
header{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	max-height: 70%;
	min-height: 70%;
}

/*section {
    max-height: 60%;
	min-height: 60%;
}*/

.project-info, .project-content{
	margin: 0;
	padding: 2em;
}

img{
	width:100%; 
	height:100%
}

.project-title>h1{
	font-family: Georgia, serif !important;
	font-style: italic !important;
}

.project-title>h3, h2{
	font-family: Georgia, serif !important;
}

hr{
	max-width: 100% !important;
	margin-right: 0;
	margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-role{
	list-style: none;
	padding: 0;
	margin: 0;
}