{% extends "templates/_p-base.html" %}
{% block content %} 
<!-- header -->
    <header id="first" style="background-image: url('static/pictures/community.jpg')">
        <div class="header-content">
            <div class="inner">
                <h1>Ann Arbor Area Community Foundation</h1>
                <h3>Office Communication System Design</h3>
            </div>
        </div>
    </header>
    <div class="bg-primary project-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Project Overview</h2>
                    <hr>
                    <h4>Ann Arbor Area Community Foundation (AAACF) is a non-profit organization dedicated to improve the lives of people in Washtenaw County. AAACF is front desk centered office and suffers from low efficiency in customer service. My team and I are to design the reception desk to improve customer service while also considering staff productivity and job satisfaction.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Duration</h2>
                    <hr>
                    <h4>December, 2015 - April, 2016</h4>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h2>Role</h2>
                    <hr>
                    <ul>
                        <li>UX Designer</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Skills</h2>
                    <hr>
                    <ul>
                        <li>Background Research</li>
                        <li>Interview</li>
                        <li>Data Analysis</li>
                        <li>Affinity Diagram</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary project-content">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2>Design Process</h2>
                    <h4>?->?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Background Research</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Interview Protocol</h3>
                    <h4>AAAAAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Affinity Diagram</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
        </div>
    </div>
{%endblock%}