{% extends "templates/_p-base.html" %}
{% block content %} 
<!-- header -->
    <header id="first" style="background-image: url('static/pictures/outdoor.jpg')">
        <div class="header-content">
            <div class="inner">
                <h1>Association of Outdoor Recreation Education</h1>
                <h3>Website Usability Evaluation</h3>
            </div>
        </div>
    </header>
    <div class="bg-primary project-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Project Overview</h2>
                    <hr>
                    <h4>The Association of Outdoor Recreation and Education (AORE) is an non-profit organization that provides services to professionals and students in the field of outdoor recreation and education. AORE wants to know members thoughts and needs of current membership system in order to improve services.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Duration</h2>
                    <hr>
                    <h4>December, 2015 - April, 2016</h4>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h2>Role</h2>
                    <hr>
                    <ul>
                        <li>UX Researcher</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Methods</h2>
                    <hr>
                    <ul>
                        <li>Interaction Map</li>
                        <li>Personas</li>
                        <li>Interview</li>
                        <li>Survey</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary project-content">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2>Work Flow</h2>
                    <h4>?->?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Interaction Map</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Personas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Interview</h3>
                    <h4>AAAAAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Survey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
        </div>
    </div>
{%endblock%}