{% extends "templates/_p-base.html" %}
{% block content %} 
<!-- header -->
    <header id="first" style="background-image: url('static/pictures/sales.jpg')">
        <div class="header-content">
            <div class="inner">
                <h1>Dobbin III</h1>
                <h3>Website Application Development</h3>
            </div>
        </div>
    </header>
    <div class="bg-primary project-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Project Overview</h2>
                    <hr>
                    <h4>Dr.Lars Junghans from Taubman College of Architecture and Urban Planning in University of Michigan received client request to develope a web application which can calculate and evaluate building construction in professional perspectives (sensitivity study, Meteo ratios and etc.). As a lead developer in the team, it is my duty to help achieve the goal.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Duration</h2>
                    <hr>
                    <h4>May, 2014 - August, 2014</h4>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h2>Role</h2>
                    <hr>
                    <ul>
                        <li>UI Designer</li>
                        <li>Web Developer</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Skills</h2>
                    <hr>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>AngularJS</li>             
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary project-content">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2>Work Flow</h2>
                    <h4>?->?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Training</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Interface Design</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>AngularJS Coding</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Beta Version (Presentation)</h3>
                    <h4>URL</h4>
                </div>
            </div>
        </div>
    </div>
{%endblock%}