{% extends "templates/_p-base.html" %}
{% block content %} 
<!-- header -->
    <header id="first" style="background-image: url('static/pictures/ecommunity.jpg')">
        <div class="header-content">
            <div class="inner">
                <h1>E-Community</h1>
                <h3>Website Design and Prototype</h3>
            </div>
        </div>
    </header>
    <div class="bg-primary project-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Project Overview</h2>
                    <hr>
                    <h4>The Asian ratios in Ann Arbor as well as Ypsilanti is pretty high due to the international students and immigrants. However, Asians tend to group up and live in their unique circles due to the cultural differences in U.S, which caused information sharing problem such as selling used items and school course recommendations.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Duration</h2>
                    <hr>
                    <h4>September, 2015 - December, 2015</h4>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h2>Role</h2>
                    <hr>
                    <ul>
                        <li>UX/UI Designer</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Methods</h2>
                    <hr>
                    <ul>
                        <li>Personas</li>
                        <li>Scenario</li>
                        <li>QOC Analysis</li>
                        <li>Sketch</li>
                        <li>Prototype</li>                 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary project-content">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2>Work Flow</h2>
                    <h4>?->?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Paper Prototype</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Digital Prototype</h3>
                    <h4>URL</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
            </div>
        </div>
    </div>
{%endblock%}