{% extends "templates/_base.html" %}
{% block content %} 
	<section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">PROJECTS</h2>
<!--                     <hr class="primary"> -->
                    <!-- <p class="text-faded">
                        Bootstrap's responsive grid comes in 4 sizes or "breakpoints": tiny (xs), small(sm), medium(md) and large(lg). These 4 grid sizes enable you create responsive layouts that behave accordingly on different devices.
                    </p>
                    <a href="#three" class="btn btn-default btn-xl page-scroll">Learn More</a> -->
                    <ul class="nav nav-tabs" id="my-projects">
                        <li class="active"><a data-toggle="tab" href="#all-projects">All</a></li>
                        <li><a data-toggle="tab" href="#ux-projects">UX</a></li>
                        <li><a data-toggle="tab" href="#ui-projects">UI</a></li>
                        <li><a data-toggle="tab" href="#web-applications">Web Apps</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- All projects -->
                        <div id="all-projects" class="tab-pane fade in active">
                            <div class="row">
                                 <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="aaacf">
                                        <img class="img-responsive" src="static/pictures/aaacf-501.jpg" alt="AAACF-501">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="aore">
                                        <img class="img-responsive" src="static/pictures/aore-622.jpg" alt="AORE-622">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="ecommunity">
                                        <img class="img-responsive" src="static/pictures/ecommunity-582.jpg" alt="ECommunity-582">
                                    </a>
                                </div>                        
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="umclinical">
                                        <img class="img-responsive" src="static/pictures/umclinical-2016.jpg" alt="umclinical">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="candc">
                                        <img class="img-responsive" src="static/pictures/candc-2016.jpg" alt="Candc">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="dobbinIII">
                                        <img class="img-responsive" src="static/pictures/dobbinIII.jpg" alt="DobbinIII">
                                    </a>
                                </div>
                               <!--  <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="#">
                                        <img class="img-responsive" src="http://placehold.it/700x400" alt="Forum">
                                    </a>
                                </div> -->
                            </div>
                        </div>
                        <!-- UX projects -->
                        <div id="ux-projects" class="tab-pane fade">
                            <div class="row">
                                 <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="aaacf">
                                        <img class="img-responsive" src="static/pictures/aaacf-501.jpg" alt="AAACF-501">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="aore">
                                        <img class="img-responsive" src="static/pictures/aore-622.jpg" alt="AORE-622">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- UI projects -->
                        <div id="ui-projects" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="ecommunity">
                                        <img class="img-responsive" src="static/pictures/ecommunity-582.jpg" alt="ECommunity-582">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="umclinical">
                                        <img class="img-responsive" src="static/pictures/umclinical-2016.jpg" alt="umclinical">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Web Apps -->
                        <div id="web-applications" class="tab-pane fade">
                            <div class="row">
                                 <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="candc">
                                        <img class="img-responsive" src="static/pictures/candc-2016.jpg" alt="Candc">
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="dobbinIII">
                                        <img class="img-responsive" src="static/pictures/dobbinIII.jpg" alt="DobbinIII">
                                    </a>
                                </div>
                            <!--     <div class="col-xs-12 col-sm-6 col-md-4 project-item">
                                    <br>
                                    <a href="#">
                                        <img class="img-responsive" src="http://placehold.it/700x400" alt="Forum">
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary-dark">EXPERIENCE</h2>
                    <!-- <hr class="primary"> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="feature">
                        <img class="img-responsive" src="static/pictures/gfs-logo.jpg" alt="GFS">
                        <p class="text-muted">Gordon Food Service (May,2015-Aug,2015)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="feature">
                        <img class="img-responsive" src="static/pictures/tabuman-logo.png" alt="Tabuman">
                        <p class="text-muted">Tabuman College, UM (Aug,2015-Present)</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <div class="feature">
                        <img class="img-responsive" src="static/pictures/michr-logo.jpg" alt="MICHR">
                        <p class="text-muted">MICHR, UM (Jan,2016-Present)</p>
                    </div>
                </div>
            </div>   
            <br><br>
            <div class="text-center">
                <a href="https://drive.google.com/file/d/0B1Hdax9YNzAqSHNfU3ZBX09qeG8/view?usp=sharing" class="btn btn-primary btn-xl my-button">My Resume</a>
            </div>
        </div>
    </section>

    <!-- Activities -->
    <section class="container-fluid bg-primary" id="three">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2 class="text-center text-primary">EXTRACURRICULAR</h2>
                <!-- <hr> -->
                <div class="media wow fadeInRight">
                    <h3>Talent</h3>
                    <div class="media-body media-middle">
                        <p>Instead of sitting in front of computer all day, I joined diverse groups and learnt Japanese Modern Dance and Traditional Korean Instrument.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-film-marker"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Communication</h3>
                    <div class="media-left">
                        <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-speakerphone"></i></a>
                    </div>
                    <div class="media-body media-middle">
                        <p>To make connections, I participated in various organization events and had chances to know people with different backgrounds.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Leadership</h3>
                    <div class="media-body media-middle">
                        <p>In one of the organization I joined, I became Vice President and started to take responsibilities to manage events.</p>
                    </div>
                    <div class="media-right leadership-color">
                        <i class="icon-lg ion-ios-people-outline"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Community</h3>
                    <div class="media-left community-color">
                        <i class="icon-lg ion-ios-heart-outline"></i>
                    </div>
                    <div class="media-body media-middle">
                        <p>Thanks to the organizations I was in, I had opportunities to be part of the events for schools, communities and international festivals.</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <!-- gallery -->
        <section class="no-padding">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life1.jpg">
                            <img src="static/pictures/life1.jpg" class="img-responsive" alt="Image 1">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life2.jpg">
                            <img src="static/pictures/life2.jpg" class="img-responsive" alt="Image 2">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life3.jpg">
                            <img src="static/pictures/life3.jpg" class="img-responsive" alt="Image 3">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life4.jpg">
                            <img src="static/pictures/life4.jpg" class="img-responsive" alt="Image 4">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life5.jpg">
                            <img src="static/pictures/life5.jpg" class="img-responsive" alt="Image 5">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="static/pictures/life6.jpg">
                            <img src="static/pictures/life6.jpg" class="img-responsive" alt="Image 6">
                            <div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- <aside class="bg-white">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="text-primary">Get Started</h2>
                <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
            </div>
            <br>
            <hr/>
            <br>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-sass" title="sass"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside> -->
    <section id="four" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 contact-color text-center">
                    <h2 class="margin-top-0 wow fadeIn text-primary-dark">CONTACT</h2>
                    <h4>Tel: +1 734-355-2122</h4>
                    <h4>Email: deanwang@umich.edu</h4>
                    <h4>I love feedback. Fill out the form below and I'll get back to you as soon as possible.</h4>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row" action="sendMail" method="post">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" value="Your Name" name="yourName">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="email" class="form-control" value="Your Email" name="yourEmail" required>
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" value="Your Phone" name="yourPhone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" name="yourMsg">Your message here...</textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <br><br>
                            <input type="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-lg my-button" value="Send">
                            <br>
                            <br>
                            <div class="text-center">
                                <a href="#first" class="btn btn-primary btn-xl my-button page-scroll">Go Top</a>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
            </div>
        </div>
    </section>
{%endblock%}