{% extends "templates/_p-base.html" %}
{% block content %} 
<!-- header -->
    <header id="first" style="background-image: url('static/pictures/umclinical.jpg')">
        <div class="header-content">
            <div class="inner">
                <h1>UM Clinical Studies</h1>
                <h3>Website Design</h3>
            </div>
        </div>
    </header>
    <div class="bg-primary project-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Project Overview</h2>
                    <hr>
                    <h4>Michigan Institute for Clinical and Health Research has developed a web protol for users to start or participate medical research. However, the previous website is not responsive nor user friendly for people with disability and thus could not provide good user experience. My team and I are to redesign and improve the website.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Duration</h2>
                    <hr>
                    <h4>January, 2016 - Present</h4>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h2>Role</h2>
                    <hr>
                    <ul>
                        <li>UI Designer</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Skills</h2>
                    <hr>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>SASS</li>              
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary project-content">
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2>Work Flow</h2>
                    <h4>?->?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>UX Design</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Prototype</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Interface</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img src="http://placehold.it/700x400" alt="bgResearch">
                </div>
                <div class="col-xs-6">
                    <h4>AAAAAAAAA</h4>
                </div>
            </div>
        </div>
    </div>
{%endblock%}